<%= form_with(model: listing) do |form| %>
  <% if listing.errors.any? %>
    <div class="alert alert-danger">
      <div class="fw-semibold mb-1">
        <%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved
      </div>
      <ul class="mb-0">
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, "Titel", class: "form-label" %>
    <%= form.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Beskrivelse", class: "form-label" %>
    <%= form.text_area :description, class: "form-control", rows: 3 %>
  </div>

  <% listing.images.each do |image| %>
    <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
  <% end %>

  <div class="mb-3">
    <%= form.label :images, "Billeder", class: "form-label" %>
    <%= form.file_field :images, multiple: true,  class: "form-control" %>
  </div>


  <div class="d-flex gap-2">
    <%= form.submit (listing.persisted? ? "Gem ændringer" : "Opret opslag"), class: "btn btn-primary" %>
    <%= link_to "Annuller", listings_path, class: "btn btn-light-outline" %>
  </div>
<% end %>
