<p style="color: green"><%= notice %></p>

<% content_for :title, "Listings" %>

<h1>Listings</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @listings.each do |listing| %>
    <div class="col">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <h6 class="card-text"><%= listing.status %></h6>
          <p class="card-text"><%= truncate(listing.description, length: 100) %></p>
          <%= link_to "View Listing", listing_path(listing), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if can? :create, Listing %>
  <%= link_to "New listing", new_listing_path %>
<% end %>
