<p style="color: green"><%= notice %></p>

<%= render @listing %>

<% if @bids.any? %>
  <h3>Bids</h3>

  <% @bids.each do |bid| %>
  <div class="card mb-2">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">
        <%= bid.user %>
      </h6>
      <p class="card-text">
        <strong>Price:</strong> <%= number_to_currency(bid.price, unit: "DKK") %><br>
        <%= bid.message %>
      </p>
      <% if can? :accept, bid && @listing.open? %>
        <%= button_to "Accept Bid", accept_listing_bid_path(@listing, bid), method: :post, class: "btn btn-success" %>
      <% end %>
      <% if bid.accepted? %>
      <span class="badge bg-success">Winning bid</span>
    <% end %>
    </div>
  </div>
  <% end %>
<% end %>

<% if can?(:create, Bid) && @listing.open? %>
  <h3>Place a bid</h3>

  <%= form_with model: [@listing, @bid], local: true do |f| %>
    <div class="mb-3">
      <%= f.label :price, class: "form-label" %><br>
      <%= f.number_field :price, step: 0.01, required: true, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :message, class: "form-label" %><br>
      <%= f.text_area :message, class: "form-control" %>
    </div>

    <%= f.submit "Place bid", class: "btn btn-primary" %>
  <% end %>
<% end %>

<div>
<% if can? :update, @listing %>
  <%= link_to "Edit this listing", edit_listing_path(@listing) %> |
<% end %>
  <%= link_to "Back to listings", listings_path %>

<% if can? :destroy, @listing %>
  <%= button_to "Destroy this listing", @listing, method: :delete %>
<% end %>
</div>
